NODE_ENV=development
DATABASE_URL=postgresql://splitway:password@localhost:5432/splitway

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=dummy_secret_for_example
RESEND_API_KEY=dummy_key_for_example
AI_API_KEY=dummy_gemini_key_for_example

APP_ENV=dev
VITE_APP_ENV=dev
