NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vornway

BETTER_AUTH_URL=https://api.dev.vornway.com
BETTER_AUTH_SECRET=eWFwN7BlUTLKiWyhrYZMSfrGWMbgxIR9

RESEND_API_KEY=re_dummuy

GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy

VAPID_PUBLIC_KEY=dummy
VAPID_PRIVATE_KEY=dummy
VAPID_SUBJECT=dummy

CLOUDFLARE_ACCOUNT_ID=dummy
CLOUDFLARE_ACCESS_KEY_ID=dummy
CLOUDFLARE_SECRET_ACCESS_KEY=dummy
CLOUDFLARE_BUCKET_NAME=dummy
